<table >
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th>Name</th>
      <th>Age</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of people;let i= index;first as isFirst; last as 
isLast; even as isEven; odd as isodd;count as totalCount;">
      <td>Index :{{ i }}</td>
      <td>SL NO : {{ i + 1 }}</td>
      <td>total Count : {{ i + 1 }} of {{totalCount}}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.age }}</td>
      <td>{{p.salary}}</td>
      <td>
        ISFirst: {{isFirst}}
        Islast: {{isLast}}
        ISEvent: {{isEven}}
        Isodd: {{isodd}}
    </td>
  </tr>
</tbody>
</table>